<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Emloyee Code</th>
					<th>App Name</th>
					<th>Purpose</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Anand Mohan
					</td>
					<td>
						1364
					</td>
					<td>
						User Details
					</td>
					<td>
						Periodic Assessment of Members of Technical Development Staff upto September 2016
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>